{% extends 'BlogUserBundle:Default:content.html.twig' %}

{% block content %}
    <article>
        {% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}
        {#{{ form_start(phpForm, {'attr': {'novalidate': 'novalidate' }}) }}#}
        {{ form_start(phpForm) }}
        {{ form_errors(phpForm) }}
        {{ form_end(phpForm) }}
    </article>
{% endblock %}