<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://jqueryui.com/resources/demos/style.css">
    <script>

        function Person(nick, age, sex, parent, work, friends) {
            this.nick = nick;
            this.age  = age;
            this.sex  = sex;
            this.parent = parent;
            this.work = work;
            this.friends = friends;
        }
        // On crée des variables qui vont contenir une instance de l'objet Person :
        var seb = new Person('Sébastien', 23, 'm', 'aîné', 'Javascripteur', []);
        var lau = new Person('Laurence', 19, 'f', 'soeur', 'Sous-officier', []);

        alert(seb[0]); // Affiche : « Sébastien »
        alert(lau.nick); // Affiche : « Laurence »

        $(function () {
            $("#task_dueDate").datepicker({maxDate: "0"});
        });

        var o = "hello";
        var f = function sayHello(param) {
            var h="b;";
            if(param instanceof Function){
                param();
            }
        }
        f(o);
//        f(function () {
//                    alert(o);
//                }
//        );


    </script>
</head>
<body>


{{ form_start(form) }}
{{ form_errors(form) }}

{{ form_row(form.task) }}
{{ form_row(form.dueDate) }}

{{ form_row(form.save, { 'label': 'Submit me' }) }}
{{ form_end(form) }}

</body>
</html>